body{
    text-align: center;
     background-color: aquamarine;
    
}
image{
    background-color: aliceblue;
    width: 100px;
    height: 100px;

}
table{
    background-color: burlywood;
    text-align: center;
    table-layout: auto;
}
.one{
    align-content: center;
    margin: auto;
}
.two{
    margin: auto;
}
